@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*
 * Text
 */
.title {
    @apply font-semibold text-lg dark:text-white;
}

.subtitle {
    @apply font-medium text-gray-800 dark:text-gray-300;
}

/*
 * Plain-text links
 */
.link {
    @apply text-blue-500;
    transition: all 150ms;
}

.link:hover {
    @apply text-blue-600;
}

/*
 * Buttons
 */
.button {
    @apply text-white bg-gray-500 hover:bg-gray-600 dark:bg-gray-600 dark:hover:bg-gray-700 py-2 px-4 rounded;
    transition: all 150ms;
}

.button-green {
    @apply text-white bg-green-500 hover:bg-green-600 py-2 px-4 rounded;
    transition: all 150ms;
}

/*
 * Containers
 */
.buttons-container {
    @apply grid grid-flow-row auto-rows-max text-center gap-2 md:grid-flow-col md:auto-cols-max;
}

.center-container {
    @apply p-4 mt-10 md:mt-0 flex flex-col md:h-screen space-y-4 text-center justify-center items-center;
}

.artists-container {
    @apply mt-4 grid grid-flow-row grid-cols-2 md:grid-cols-7 gap-4 place-items-center md:place-items-start;
}

/*
 * Artist components
 */
.artist-image {
    @apply w-36 h-36 rounded-xl shadow-sm object-cover;
    transition: all 150ms;
}

.artist-image:hover {
    opacity: 0.65;
}

.artist-link {
    transition: all 150ms;
    display: block;

    @apply w-36 mt-2 dark:text-gray-200 truncate;
}

.artist-link:hover {
    @apply text-gray-600 dark:text-gray-400;
}

.artist-genre {
    display: block;

    @apply w-36 text-gray-800 dark:text-gray-400 truncate;
}

/*
 * Misc
 */
.fa-icon {
    @apply mr-2;
}
